@using VKPCShop.WebApp.Dtos;
@model OrderDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var products = ViewBag.Product;
}

<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="/Admin/Home">Trang chủ</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Chi tiết đơn hàng #@Model.Id</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<!-- END BREADCRUMB-->
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">CHI TIẾT ĐƠN HÀNG</div>
                    <div class="card-body">
                        <input type="hidden" id="orderId" value="@Model.Id" />
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Mã đơn hàng: #@Model.Id</label>
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Ngày đặt hàng: @Model.CreatedDate</label>
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Địa chỉ: @Model.ShipAddress</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Khách hàng: @Model.ShipName</label>
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Số điện thoại: @Model.ShipPhoneNumber</label>
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Email: @Model.ShipEmail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="control-label mb-1">Tổng tiền: <b>@Model.TotalPayment.ToString("N0")<sup>đ</sup></b></label>
                            </div>
                            @* <div class="form-group col-lg-4">
                            <label class="control-label mb-1">Ghi chú: @Model.ShipNote</label>
                            </div>*@
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="control-label mb-1">Tình trạng: </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                                            @foreach (var item in ViewBag.ListStatus)
                                            {
                                                if (item == Model.Status)
                                                {
                                                    <option selected>@Model.Status</option>
                                                }
                                                else
                                                {
                                                    <option>@item</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Ảnh</th>
                                                <th>Sản phẩm</th>
                                                <th>Đơn giá</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.OrderDetails)
                                            {
                                                <tr>
                                                    @foreach (var product in products)
                                                    {
                                                        if (product.Id == item.ProductId)
                                                        {
                                                            <td style="width: 100px;">
                                                                <img src="/admin/images/@product.Image" style="width: 100%;" />
                                                            </td>
                                                            <td class="baCham">@product.Name</td>
                                                        }
                                                    }
                                                    <td>@item.Price.ToString("N0")<sup>đ</sup></td>
                                                    <td style="text-align: center;">@item.BuyQuantity</td>
                                                    <td>@((@item.Price * @item.BuyQuantity).ToString("N0"))<sup>đ</sup></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <button id="updateStatus" class="btn btn-lg btn-success btn-block" style="margin-top:9px;">
                                    <i class="fa fa-save"></i>
                                    <span id="payment-button-amount">Cập nhật</span>
                                </button>
                            </div>
                            <div class="form-group col-lg-3">
                                <a href="/Admin/Order" type="button" id="payment-button" class="btn btn-lg btn-secondary btn-block" style="margin-top:9px;">
                                    <span id="payment-button-amount">Quay lại</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>